{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="nav-collapse">
                    <ul class="nav">
                        {% for child in widget.children %}
                            {% include 'VictoireWidgetMenuBundle::showItem.html.twig' with { 'menuItem': child, 'childrenLayout': widget.childrenLayout, 'depth': 0 } %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
	{% if app.request.isXmlHttpRequest %}
		<script type="text/javascript">
		    $(document).ready(function() {
		        initSubMenu();
		    });
		</script>
	{% endif %}
{% endblock content %}
