{% block content_items_item %}
{% if menuItem.children|length > 0 %}
    <li class="dropdown {% if depth > 0 %}submenu{% endif %}">
        {{ _self.render_dropdown_link(menuItem, depth) }}
            <ul class="dropdown-menu {% if depth > 0 %}submenu-show submenu-hide{% endif %}">
                {% for child in menuItem.children %}
                    {% include 'VictoireWidgetMenuBundle::showItem.html.twig' with { 'menuItem': child, 'depth': depth + 1 } %}
                {% endfor %}
            </ul>
    </li>
{% else %}
    {{ vic_menu_link(menuItem.link.parameters, menuItem.title) }}
{% endif %}
{% endblock content_items_item %}

{% macro render_dropdown_link(item, depth) %}
    {% set label = item.title ~ (depth == 0 ? ' <b class="caret"></b>' : "") %}
    {{ vic_link(item.link.parameters, label) }}
{% endmacro %}
