ul.menus
{
    list-style: none;
    > li {
        > ul {
            list-style: none;
            > li {
                input, select {
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
}

.add_menu_link {
    background-size: 459px 285px;
    background-image: url(/bundles/victoirecore/images/sprite@2x.png);
    background-position: -48px 367px;
    padding: 5px 12px;
    &:hover {
        background-position: -24px 367px;

    }
}
