ul.menus
{
    list-style: none;
    > li {
        > ul {
            list-style: none;
            > li {
                input, select {
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
}

